# Lists and Mutability

In [1]:
x = 10
y = x

print("Value of x is",x, "value of y is", y)
x = 12

print("Value of x is",x, "value of y is", y)

Value of x is 10 value of y is 10
Value of x is 12 value of y is 10

In [3]:
mammals  = ['cat', 'kangaroo', 'horse']

In [4]:
mammals_2 = mammals

In [5]:
mammals[0] = 'mule'
mammals

['mule', 'kangaroo', 'horse']

In [7]:
mammals_2

['mule', 'kangaroo', 'horse']

In [8]:
fish = ['tuna', 'shark', 'catfish']

In [9]:
animals = [mammals, fish]
animals

[['mule', 'kangaroo', 'horse'], ['tuna', 'shark', 'catfish']]

In [10]:
mammals[0] = 'cat'
mammals

['cat', 'kangaroo', 'horse']

In [11]:
animals

[['cat', 'kangaroo', 'horse'], ['tuna', 'shark', 'catfish']]

In [12]:
mammals_2[0] = 'tiger'

In [18]:
mammals_2

['tiger', 'rabbit', 'horse']

In [19]:
mammals

['tiger', 'rabbit', 'horse']

In [16]:
animals

[['tiger', 'kangaroo', 'horse'], ['tuna', 'shark', 'catfish']]

In [17]:
animals[0][1]='rabbit'

So, it's the same list with different names! But can't we make a copy of the list?

In [20]:
mammals_3 = mammals[:]

In [21]:
mammals_3[0] = 'mouse'

In [22]:
mammals

['tiger', 'rabbit', 'horse']

In [23]:
animals

[['tiger', 'rabbit', 'horse'], ['tuna', 'shark', 'catfish']]

In [24]:
s1 = ['student 1', 'Ali', 'Khan']
s2 = ['student 2', 'Zia', 'Farooq']
s3 = ['student 3', 'Hadi', 'Zaman']

In [25]:
students = [s1, s2, s3]
print(students)

[['student 1', 'Ali', 'Khan'], ['student 2', 'Zia', 'Farooq'], ['student 3', 'Hadi', 'Zaman']]

In [26]:
students_copy = students[:]

In [27]:
students_copy[0][0] = 'student 1 changed'

In [28]:
students_copy

[['student 1 changed', 'Ali', 'Khan'],
 ['student 2', 'Zia', 'Farooq'],
 ['student 3', 'Hadi', 'Zaman']]

In [29]:
students

[['student 1 changed', 'Ali', 'Khan'],
 ['student 2', 'Zia', 'Farooq'],
 ['student 3', 'Hadi', 'Zaman']]

## Deep Copying

In [30]:
import copy

In [31]:
students_3 = copy.deepcopy(students)

In [32]:
students_3[0][0] = 'student 1 changed again'

In [33]:
students_3

[['student 1 changed again', 'Ali', 'Khan'],
 ['student 2', 'Zia', 'Farooq'],
 ['student 3', 'Hadi', 'Zaman']]

In [34]:
students

[['student 1 changed', 'Ali', 'Khan'],
 ['student 2', 'Zia', 'Farooq'],
 ['student 3', 'Hadi', 'Zaman']]

Passing lists as arguments

In [35]:
def change_var(x): 
    x = x + 1 
    
def change_list(lst): 
    lst.append(24)

In [ ]:
x = 25
change_var(x) 
print(x)

In [ ]:
print(s2)
change_list(s2) 
print(s2)

And that's why we have tuples as immutable .. so that called functions are guaranteed to not change them.